body p {
  color: #62ec06;
}
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
.active {
  color: #304455;
}
.active > a {
  color: #304455;
}
